.servicesMenu {
  /* display: flex; */
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
}

.service {
  margin-top: 300px;
  margin-bottom: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonService {
  width: 400px;
  height: 60px;
  font-size: 20px;
  background: #1d5249;
  border-radius: 20%;
  border: none;
}

.titles:hover {
  text-decoration: underline;
}
